/* START From Home Page  */
body {
    color: #000000;
    font-family: 'Roboto',Arial, Helvetica,  sans-serif;
    font-size: unset;
    font-weight: 400;
    margin: 0;
}
/* END From Home Page  */







/* BEGIN TAXING ISSUES INSERT */

pp-div img, pp-div > table {
	border: none;
    width: 100%;
    margin: auto;
}

pp-div table td {
    text-align: right;
	padding: .1em .5em;
}


pp-div table td:first-child {
    text-align: left;
}

pp-div .caption {
	font-style: italic;
}

pp-div .image-header{
	background-color: darkblue;
	padding: .5em;
	color: white;
	font-weight: bold;
    margin-block-end: 0;
    margin: 0 .2em;
}

pp-div .child-block {
    max-width: 11em;
    min-width: 7em;
    padding: 1em;
    background-color: lightgrey;
}
pp-div .block {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding: 0 0 1em 0;
}

pp-div > br {
    
    margin: 10px 0;
    display: block;
    margin-bottom: 1em;
}

/*This could issues the intent is to narrow the reading column*/
#pp-page-content {
    width: 100%;
    max-width: 750px;
    margin: auto;
    padding: 1em;
}

.pp-breadcrumbs{
    text-decoration: none;
    padding-bottom: 1em;
}

.pp-footer {
    padding: 10px 0 0 0;
    min-height: 10px ;
    background-image: url("../scr2/footer-1.svg");
    background-repeat: no-repeat;
    
    background-position-x: 71%;
    background-size: cover;
}

.pp-headerwrap {
    min-height: 90px;
    background-image: url("../scr2/header-1.svg");
    background-repeat: no-repeat;
    
    background-position-x: 65%;
    background-size: cover;
}

@media screen and (max-width: 980px) {
.pp-headerwrap {
    min-height: 90px;
    background-image: url("../scr2/header-1.svg");
    background-repeat: no-repeat;
    
    background-position: -480px 0px;
    background-size: cover;
}}

@media screen and (max-width: 700px) {
.pp-headerwrap{
    FONT-WEIGHT: 200;min-height: 80px;
    background-image: url("../scr2/header-3.svg");
    background-repeat: no-repeat;

    background-position: -412px 0px;
    background-size: cover;
}
pp-div table td:nth-child(2),pp-div table td:nth-child(3),pp-div table td:nth-child(4){
    display: none;
}pp-div table td:last-child{
    display: revert;
    text-align: center;
}


.child-block {
    max-width: 20em;
    min-width: 7em;
    padding: 1em;
    background-color: lightgray;
}
}


pp-div table td h3 {margin:auto;}

pp-div p img {margin: auto;}

pp-div table{
	border: .5px solid #efefef;;
	width: 100%;
	
}

pp-div > tr > strong {
    padding: 1px 4px 1px 4px;
}

pp-div table tr:nth-child(even){background-color: lightgray;}
pp-div table tr:nth-child(1){background-color: darkblue;
color:white;
font-weight: bolder;
	vertical-align: text-top;
padding: 0.5em;}

/* END TAXING ISSUES INSERT */


