/* General Elements */
body {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-weight: 700;
    padding-bottom: 1em;
}

strong {
    font-weight: bold;
    
}

/* Autocomplete Input Styles */
.autocomplete-container {
    position: relative;
    max-width: 1000px;
    /* Additional styles as needed */
}

#autocomplete-input:focus {
    border: 2px solid #007bffb4; /* Bright border for visibility */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Soft glow effect */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for focus effects */
}

/* Autocomplete List Styles */
#autocomplete-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 18.5rem; 
    overflow-y: auto;  
    left: .5em;
    right: .5em;
    z-index: 1000;
}

/* No Results Style */
.no-results {
    font-style: italic;
    color: #484747; /* or any color that suits your design */
    padding: 1em;
}

/* Autocomplete Item Styles */
.result-item, .result-footer {
    background: none; /* Removes default button background */
    border: none; /* Removes default border */
    border-bottom: 1px solid #d1d1d1; /* Custom border for each item */
    color: inherit; /* Inherits text color from parent */
    cursor: pointer; /* Cursor to indicate it's clickable */
    display: block; /* Makes the button behave like a block element */
    outline: none; /* Removes focus outline */
    padding: .25em .5em; /* Custom padding */
    text-align: left; /* Aligns text to the left */
    width: 100%;
}

.result-footer {
    background-color: #e9e9e9;
    cursor: none;
}

.result-item:hover {
    background-color: #e9e9e9; /* Custom hover background */
}

.result-item:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Custom focus style */
}

/* Button and Spinner Styles */
#clear-button,
#loading-spinner {
    display: none;
}

#basic-addon2 {
    display: flex;
    align-items: center; /* Vertically center elements */
    justify-content: space-between; /* Add space between elements */
    min-width: 2.5em;
    width: auto; /* Let the container adjust to content */
     /* padding-right: 0px;Add some right padding */
}

.checkbox-icon-wrapper {
     /*display: none; */
    flex-shrink: 0; /* Prevent radio button from shrinking */
     /* width: 2.5rem; Set the width of the radio button */
    margin: auto;
}

.spinner-border {
    width: 1rem; /* Set the width of the spinner */
    height: 1rem; /* Set the height of the spinner */
    margin-right: 1.1rem;
}

/* Apply border-radius when the input field is not empty */
#autocomplete-input:not(:placeholder-shown) + .input-group-text {
    border-top-right-radius: 0.25rem; /* Adjust value as needed */
    border-bottom-right-radius: 0.25rem; /* Adjust value as needed */
}

/* Hide the clear button initially */
#clear-button {
    display: none;
}


#basic-addon2 {
    border-top-right-radius: 0.25rem ;
    border-bottom-right-radius: 0.25rem ;
}




.tooltip {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1em;
  }
  
  .checkbox-icon-wrapper {
    
    align-items: center; /* Aligns items vertically in the center */
}

.checkbox-icon-wrapper input[type="checkbox"] {
    margin-right: 5px; /* Adjust spacing between checkbox and label */
}

.checkbox-icon-wrapper i {
    margin-left: .75em; /* Adjust spacing between label and icon */
}

#autocomplete-input {
    position: relative;
    padding-left: 30px; /* Adjust to make room for the icon */
}

.input-group::before {
    font-family: "Font Awesome 5 Free"; 
    content: "\f002"; 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #757575; 
    font-weight: 900; 
    font-size: 1rem; /* Adjust the size as needed */
    z-index: 1; /* Ensure it's above the input field */
}

/* Styles for the rest of your elements... */



tableau-viz {
    margin: auto;
    width: 1000px;
}

/* Tableau Visualization Container */
.around-viz {
    padding-top: 1em;
}

#streetViewContainer{
    max-width: 1000px;
}