#loading-spinner {
    display: none;
}
    #autocomplete-list {
    border: 1px solid #d1d1d1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 300px; /* You can adjust this as needed */
    overflow-y: auto;  /* Makes it scrollable if there are many items */
    width: 100%; /* Adjust width as necessary */
    background-color: #fff;
}

.result-item {
    padding: 10px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #e9e9e9;
}

tableau-viz {
    width: 1000px;
    margin: auto;
    padding-top: 1em;
}

#clear-button {
    display: none;
}

#basic-addon2 {
    width: 2.5rem;
}

strong {
    font-weight: bold;
  }
  