
svg {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes rotate {
    to {
      transform: rotate(21360deg);
    }
  }

/* START From Home Page  */
body {
    color: #000000;
    font-family: 'Roboto',Arial, Helvetica,  sans-serif;
    font-size: unset;
    font-weight: 400;
    margin: 0;
}
/* END From Home Page  */

/* BEGIN TAXING ISSUES INSERT */

pp-div img, pp-div > table {
	border: none;
    height: auto;
    margin: auto;
    width: 100%;
}

pp-div table td {
    vertical-align: -webkit-baseline-middle;
    text-align: right;
	padding: .1em .5em;
}


pp-div table td:first-child {
    text-align: left;
}

pp-div .caption {
	font-style: italic;
}

pp-div .image-header {
	background-color: #759ac1;
	padding: .5em;
	color: white;
	font-weight: bold;
    margin-block-end: 0;
    margin: 0 .2em;
}

pp-div .child-block {
    background-color: lightgrey;
    max-width: 11em;
    min-width: 7em;
    padding: 1em;
}
pp-div .block {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding: 0 0 1em 0;
}


pp-div .footnote-ref{
    font-size: .5em;
}

pp-div > br {    
    display: block;
    margin: 1em 0;
}

pp-div h2 img {
    max-width: 3em;
}


#pp-page-content, .pp-page-content {
    margin: auto;
    max-width: 750px;
    padding: 1em;
}

.pp-breadcrumbs{
    text-decoration: none;
    padding-bottom: 1em;
}

.pp-footer {
    background-image: url("../src/footer-1.svg");
    background-position-x: 71%;
    background-repeat: no-repeat;    
    background-size: cover;
    min-height: .7em ;
    padding: .7em 0 0 0;
}

 .pp-header { 
    background-image: url("../src/header-1.svg");
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 1865px;
    min-height: 6em;
} 
.res-header { 
    background-image: url("../src/header-1.svg");
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: #759ac1;
    background-size: cover;
    margin: auto;
    max-width: 1865px;
    min-height: 6em;
}

@media screen and (max-width: 980px) {
.pp-headerwrap {
    background-image: url("../src/header-1.svg");
    background-position: -480px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90px;
    }
.res-headerwrap {
    background-image: url("../src/header-1.svg");
    background-position: -480px 0px;
    background-repeat: no-repeat;
    background-color: #759ac1;
    background-size: cover;
    min-height: 90px;
    }
}

@media screen and (max-width: 700px) {
pp-div .caption::before {
	content: "Mobile ";
}

.pp-header{
    background-image: url("../src/header-3.svg");
    background-position: -412px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80px;
}
.res-header{
    background-image: url("../src/header-3.svg");
    background-position: -412px 0px;
    background-color: #759ac1;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80px;
}




pp-div table td:nth-child(2),pp-div table td:nth-child(3),pp-div table td:nth-child(4){
    display: none;
}pp-div table td:last-child{
    display: revert;
    text-align: center;
}


.child-block {
    max-width: 20em;
    min-width: 7em;
    padding: 1em;
    background-color: lightgray;
}
}


pp-div table td h3 {margin:auto;}

pp-div p img {margin: auto; vertical-align: middle;}

pp-div table{
	border: .5px solid #efefef;;
	width: 100%;
	
}

pp-div > tr > strong {
    padding: 1px 4px 1px 4px;
}

pp-div table tr:nth-child(even){background-color: lightgray;}
pp-div table tr:nth-child(1){background-color: #759ac1;
color:white;
font-weight: bolder;
	vertical-align: text-top;
padding: 0.5em;
}

/* END TAXING ISSUES INSERT */




head style {}